{% extends 'shop\layouts\main.html' %}

{% block content %}
<style>
    .old-price{
    color:red;
    font-weight: bold;
}
.new-price{
    font-weight: bold;
    background-color:green;
    color: white;
    border-radius: 0.3rem;
}
.card{
    background-color: oldlace;
}
</style>
<section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">{{category_name}} Products</h4>
          <hr style="border-color:#b8bfc2;">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active">{{category_name}} Collections</li>
            </ol>
          </nav>
        
        </div>
        {% for item in products %}
        <div class="col-md-4 col-lg-3">
          <div class="card my-3">
            <img src="{{item.product_image.url}}"  class="card-image-top" alt="Categories" height="230px">
            <a href="{% url 'product_details' category_name item.name %}">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ item.name }}</h5>
              <p class="card-text">
                <span class="float-start old_price" style="color:red;font-weight: bold;"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
                <span class="float-end new_price" style="background-color: green;color: white; 
                font-weight: bold;border-radius: 0.3rem;">Rs.{{ item.selling_price | stringformat:'d' }}</span>
              </p>
            </div>
          </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts%}
 <!--Bootsrap Javascript-->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock scripts%}

